*{
  margin: 0;
  padding: 0;
}
.clock_face{
  width: 450px;
  height: 450px;
  border: 10px solid #D4DCE3;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
.absolute{
  position: absolute;
  width: 100%
}
.minute0_30{
  width: 40px;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -20px;
}
.minute15_45{
  width: 40px;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -20px;
  transform: rotate(90deg);
}

.middle{
  height: 410px;
}
.minute{
  width: 6px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #000;
  margin: auto;
}

.minute5_35{
  width: 40px;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -20px;
  transform: rotate(30deg);
}
.minute10_40{
  width: 40px;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -20px;
  transform: rotate(60deg);
}
.minute20_50{
  width: 40px;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -20px;
  transform: rotate(120deg);
}
.minute25_55{
  width: 40px;
  height: 100%;
  position: relative;
  left: 50%;
  margin-left: -20px;
  transform: rotate(150deg);
}

